<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/form.css">
</head>

<body>
    <div class="container">
        <%- include('../includes/navigation.ejs') %>


        <main class="main form-container">
            <div class="center-box">
                <h2 class="main-text">Edit your product</h2>
                <p class="main-text__secondary form-text">Please Update the details of your <%= product_details.title %></p>
            </div>
            <div class="form-box">
                <form action="/admin/edit-product" method="POST">
                    <div class="form-control">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" id="bookTitle" name="bookTitle" class="form-input" value="<%=product_details.title%>">
                    </div>

                    <div class="form-control">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="description" id="description" class="form-input" rows="5"><%=product_details.description%></textarea>
                    </div>

                    <div class="form-control">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" id="price" name="price" class="form-input"
                            value="<%=product_details.price%>">
                    </div>

                    <div class="form-control">
                        <label for="ImgUrl" class="form-label">Image Url</label>
                        <input type="text" id="ImgUrl" name="imgUrl" class="form-input"
                            value="<%=product_details.imgUrl%>">
                    </div>

                    <div class="card__actions">
                    
                        <button class="btn form-btn">Update Cart</button>
                    </div>
                </form>
            </div>

        </main>
    </div>
    <%- include('../includes/end.ejs') %>