<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/form.css">
</head>

<body>
    <div class="container">
        <%- include('../includes/navigation.ejs') %>


        <main class="main form-container">
            <div class="center-box">
                <h2 class="main-text">Edit your product</h2>
                <p class="main-text__secondary form-text">Please Update the details of your book below</p>
            </div>
            <div class="form-box">
                <form action="/admin/re-product" method="POST">
                    <div class="form-control">
                        <label for="title" class="form-label">Add Title</label>
                        <input type="text" id="bookTitle" name="bookTitle" class="form-input">
                    </div>

                    <div class="form-control">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="description" id="description" class="form-input" rows="5"></textarea>
                    </div>

                    <div class="form-control">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" id="price" name="price" class="form-input">
                    </div>

                    <div class="form-control">
                        <label for="ImgUrl" class="form-label">Image Url</label>
                        <input type="text" id="ImgUrl" name="imgUrl" class="form-input">
                    </div>

                    <div class="card__actions">
                        <form method="POST" action="/cart">
                            <input type="hidden" name="cartTitle" value="<%= product_details %>">
                        </form>
                            <!-- <input type="hidden" name="cartId" value="<%= product_details %>">
                            <button class="btn product-btn">Update Cart</button>

                        <form method="POST" action="/admin/edit-product">
                            <input type="hidden" name="cartId" value=<%= product_details %>>
                            <button class="btn product-btn btn-delete">Delete product</button>
                        </form> -->
                    </div>
                </form>
            </div>

        </main>
    </div>
    <%- include('../includes/end.ejs') %>