<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (products.length > 0) { %>

        <ul class="cart-box">
            <% products.forEach(p => {%>
            <li class="cart-box__item">
                <div class="cart-box__primary">
                    <p><span class="cart-box__item-title">Book Title:</span><%= p.productId.title %></p>
                    <p><span class="cart-box__item-title">Quantity:</span>(<%= p.quantity %>)</p>
                    <p><span class="cart-box__item-title">Price:</span>$<%= p.price %></p>

                </div>
                <hr>
            </li>
            <% }) %>
        </ul>
        <hr>
        <div class="centered">
            <p class="btn" style="font-weight: bold; cursor: none;">Total price is:
                &nbsp;$<%= totalCartPrice.toFixed(2) %>
            </p>
        </div>
        <div class="centered">
             <form id="paymentForm">
                 <div class="form-group">
                     <label for="email">Email Address</label>
                     <input type="email" id="email-address" required />
                 </div>
                 <div class="form-group">
                     <label for="amount">Amount</label>
                     <input type="tel" id="amount" required />
                 </div>
                 <div class="form-group">
                     <label for="first-name">First Name</label>
                     <input type="text" id="first-name" />
                 </div>
                 <div class="form-group">
                     <label for="last-name">Last Name</label>
                     <input type="text" id="last-name" />
                 </div>
                 <div class="form-submit">
                     <button type="submit" onclick="payWithPaystack()"> Pay </button>
                 </div>
             </form>
             <script src="https://js.paystack.co/v1/inline.js"></script>
            <form action="./create-order" method="POST">
                <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                <button class="btn">Order Now!!</button>
            </form>
        </div>
        <% } else { %>
        <h1>No Products in Cart!</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>
    <script src="/js/payment.js"></script>