<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="cart-box">
        <% if (orders.length <= 0) { %>
        <h1>Nothing there!</h1>
        <% } else { %>
        <ul>
            <% orders.forEach(order => { %>
            <li>
                <h2># <%= order._id %></h2>
                <ul style="list-style: none;">
                    <% for(let i of innerItems) {%>
                    <li class="cart-box__item">
                        <div class="cart-box__primary">
                            <p><span class="cart-box__item-title">Book Title:</span><%= i.cartProduct.title %>
                            </p>
                            <p><span class="cart-box__item-title">Quantity:</span>(<%= i.quantity%>)</p>
                            <p><span class="cart-box__item-title">Price:</span>$<%= i.price %></p>

                        </div>
                    </li>
                    <% }; %>
                </ul>
            </li>
            <% }); %>
        </ul>
        <h3>The total price is ==> $<%=totalPrice %></h3>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>