<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="cart-box">
        <% if (orders.length <= 0) { %>
        <h1>Nothing there!</h1>
        <% } else { %>
        <ul>
            <% orders.forEach(order => { %>
            <li>
                <h2># <%= order.productId %></h2>
                <ul style="list-style: none;">

                    <li>Quantity ==>(<%= order.quantity %>), Price:>$<%= order.price %> </li>
                </ul>
            </li>
            <% }); %>
        </ul>
        <h3>The total price is ==> $<%=totalPrice %></h3>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>