<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (orders.length <= 0) { %>
        <h1>Nothing there!</h1>
        <% } else { %>
        <ul>
            <% orders.forEach(order => {%>
            <li>
                <h2># <%= order._id %></h2>

                <ul class="cart-box">
                    <% for(let i in order.orders) {%>
                    <li class="cart-box__item">
                        <div class="cart-box__primary">
                            <p><span class="cart-box__item-title">Book Title:</span><%= order.orders[i].cartProduct.title %>
                            </p>
                            <p><span class="cart-box__item-title">Quantity:</span>(<%= order.orders[i].quantity%>)</p>
                            <p><span class="cart-box__item-title">Price:</span>$<%= order.orders[i].price %></p>

                        </div>
                    </li>
                    <% }; %>
                     <div class="centered">
                         <p class="btn" style="font-weight: bold; cursor: none;">Total cart price is:
                             &nbsp;$<%= totalCartPrice %></p>
                     </div>
                </ul>
            </li>
            <% }); %>
        </ul>
        <h3 style="text-align: center;">The total price is ==> $<%=totalPrice %></h3>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>